@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    transition: all .2s linear;
    text-decoration: none;
}
html{
    font-size: 62.5%;
}
body{
    overflow-x: hidden;
}
.heading, .section-head h1{
    margin: 2rem;
    padding-top: 6rem;
    display: inline-block;
    font-size: 3.5rem;
    color: #002e5f;
    position: relative;
    letter-spacing: .2rem;
}
.heading::before, .heading::after, .section-head h1::before, .section-head h1::after{
    content: '';
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    border-top: .4rem solid #002e5f;
    border-left: .4rem solid #002e5f;
}
.faq .heading::before, .faq .heading::after{
    border-top: .4rem solid #002e5f;
    border-left: .4rem solid #002e5f;
}
.heading::before, .section-head h1::before{
    top: 5.8rem;
    left: -2rem;
}
.heading::after, .section-head h1::after{
    bottom: -.5rem;
    right: -2rem;
    transform: rotate(180deg);
}


/* START OF HEADER SECTION CSS */
.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    position: fixed;
    background-color: #fff;
}
.header .logo img{
    width: 120%;
    height: 5rem;
    top: 0;
    left: 0;
    padding-right: 2rem;
}
.header .navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header .navbar ul li{
    margin: 0 1.5rem;
}
.header .navbar ul li a{
    font-size: 2rem;
    font-weight: 700;
}
.header .navbar ul li a:hover{
    color: #00bfff;
    text-decoration: underline;
    scale: 1.05;
}
.header .logo i{
    padding: 0.5rem;
}
.header .fa-bars{
    color: #fff;
    cursor: pointer;
    font-size: 3rem;
    display: none;
}
/* END OF HEADER SECTION CSS */


/* START OF HOME SECTION CSS */
.home{
    height: 100vh;
    width: 100vw;
    background-image: url(../images/homebg.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    padding: 0 1rem;
    position: relative;
    overflow: hidden !important;
}
.homesection{
    color: white;
    font-size: 20px;
    padding-top: 5%;
  }
  .parent-container {
    height: 80vh; 
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  .content {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    height: 80%; 
    width: 100%; 
  }
  .homeleft{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }
  .design{
    background-color: #36195D;
    padding: 0.5rem;
    border-radius: 10px;
    position: relative;
  }
  .design .text{
    animation: blink 2s infinite; 
    font-weight: 700;
  }
  @keyframes blink {
    100% {
      background: linear-gradient(137.9deg, rgb(78, 156, 226) 7.8%, rgb(62, 146, 69) 16%, rgb(251, 220, 23) 32.7%, rgb(242, 160, 35) 50.4%, rgb(253, 12, 12) 71.5%, rgb(192, 26, 129) 83.1%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    80% {
      background: linear-gradient(137.9deg, rgb(62, 146, 69) 7.8%, rgb(251, 220, 23) 16%, rgb(242, 160, 35) 32.7%, rgb(253, 12, 12) 50.4%, rgb(192, 26, 129) 71.5%, rgb(78, 156, 226) 83.1%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    60% {
      background: linear-gradient(137.9deg, rgb(251, 220, 23) 7.8%, rgb(242, 160, 35) 16%, rgb(253, 12, 12) 32.7%, rgb(192, 26, 129) 50.4%, rgb(78, 156, 226) 71.5%, rgb(62, 146, 69) 83.1%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    40% {
      background: linear-gradient(137.9deg, rgb(242, 160, 35) 7.8%, rgb(253, 12, 12) 16%, rgb(192, 26, 129) 32.7%, rgb(78, 156, 226) 50.4%, rgb(62, 146, 69) 71.5%, rgb(251, 220, 23) 83.1%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    20% {
      background: linear-gradient(137.9deg, rgb(253, 12, 12) 7.8%, rgb(192, 26, 129) 16%, rgb(78, 156, 226) 32.7%, rgb(62, 146, 69) 50.4%, rgb(251, 220, 23) 71.5%, rgb(242, 160, 35) 83.1%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    0% {
      background: linear-gradient(137.9deg, rgb(192, 26, 129) 7.8%, rgb(78, 156, 226) 16%, rgb(62, 146, 69) 32.7%, rgb(251, 220, 23) 50.4%, rgb(242, 160, 35) 71.5%, rgb(253, 12, 12) 83.1%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .para{
    margin-top: 2rem;
    font-size: 60px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    letter-spacing: 0.1em;
    color: whitesmoke;
  }
  .para2{
    text-align: center;
    font-size: 16px;
    width: 50%;
    font-weight: 400;
    padding: 2px;
    margin-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    letter-spacing: 1px;
    color: #fff;
  }
  .design2{
    font-size: 38px;
    font-weight: 500;
    background: linear-gradient(-225deg, #0095ff 0%, #ff0090 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 0.1em;
    text-align: center;
  }
/* END OF HOME SECTION CSS */



/* START OF ABOUT SECTION CSS */
.about{
    height: fit-content;
    width: 100vw;
    text-align: center;
    position: relative;
    overflow: hidden;
    line-height: 10rem;
    margin-top: -10px;
}
.about .row{
    line-height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 4rem;
}
.about .row .content{
    text-align: left;
}
.about .row .content h3{
    font-size: 3rem;
    color: black;
}
.about .row .content p{
    font-size: 2rem;
    color: #333;
    padding: 1rem 0;
    font-weight: 500;
}
/* END OF ABOUT SECTION CSS */


/* START OF MENTOR SECTION CSS */
.blog-slider {
    width: 95%;
    position: relative;
    max-width: 800px;
    margin: auto;
    background: #fff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 25px;
    border-radius: 25px;
    transition: all 0.3s;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  @media screen and (max-width: 992px) {
    .blog-slider {
      max-width: 680px;
    }
  }
  @media screen and (max-width: 768px) {
    .blog-slider {
      min-height: 400px;
      height: auto;
      margin: 180px auto;
    }
  }
  @media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider {
      height: 350px;
    }
  }
  .blog-slider__item {
    display: flex;
    align-items: center;
  }
  @media screen and (max-width: 768px) {
    .blog-slider__item {
      flex-direction: column;
    }
  }
  .blog-slider__img {
    width: 300px;
    flex-shrink: 0;
    height: 300px;
    border-radius: 20px;
    transform: translateX(-80px);
    overflow: hidden;
  }
  .blog-slider__img img {
    width: 100%;
    object-fit: cover;
    display: block;
    opacity: 1;
    border-radius: 20px;
    transition: all 0.3s;
  }
  @media screen and (max-width: 768px) {
    .blog-slider__img {
      transform: translateY(-50%);
      width: 90%;
    }
  }
  @media screen and (max-width: 576px) {
    .blog-slider__img {
      width: 95%;
    }
  }
  @media screen and (max-height: 500px) and (min-width: 992px) {
    .blog-slider__img {
      height: 270px;
    }
  }
  .blog-slider__content {
    padding-right: 25px;
  }
  @media screen and (max-width: 768px) {
    .blog-slider__content {
      margin-top: -80px;
      text-align: center;
      padding: 0 30px;
    }
  }
  @media screen and (max-width: 576px) {
    .blog-slider__content {
      padding: 0;
    }
  }
  .blog-slider__code {
    font-weight: 900;
    font-size: larger;
    text-decoration: underline;
    color: royalblue;
  }
  .blog-slider__title {
    font-size: 30px;
    font-weight: 900;
    color: #0d0925;
  }
  .blog-slider__text {
    color: #4e4a67;
    margin-bottom: 30px;
    line-height: 1.5em;
    font-size: small;
  }
  @media screen and (max-width: 576px) {
    .blog-slider__button {
      width: 100%;
    }
  }
/* END OF MENTOR SECTION CSS */


/* START OF MARQUEE CSS */
.marquee {
  border-radius: 10px;
  height: 50px;
  width: 100%;
  background-color: #002e5f;
  overflow: hidden;
  position: relative;
}
.marquee marquee {
  display: inline-block;
  color: antiquewhite;
  font-size: x-large;
  font-weight: 900;
  letter-spacing: 5px;
  padding: 5px 20px;
}
/* END OF MARQUEE CSS */


/* START OF COUNTERS SECTION CSS */
.counters {
	background-image: url(../images/finallogo.png);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
	color: #fff;
	padding: 40px 20px;
  background-color: #7D7D7C;
}
.counters .container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
	text-align: center;
}
.counters i {
	color: #fff;
	margin-bottom: 5px;
}
.counters .counter {
	font-size: 45px;
	margin: 10px 0;
}
/* END OF COUNTERS SECTION CSS */


/* START OF COURSES SECTION CSS */
#course{
    text-align: center;
}
#course p{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: .5px;
}
  .item{
    background:#fff;
    text-align: center;
    padding:30px 25px;
    box-shadow: 0 0 25px rgba(0,0,0,0.07);
    border-radius: 0 0 20px 30px;
    margin-bottom: 30px;
    -webkit-transition:all 0.5s ease 0s;
    transition:all 0.5s ease 0s;
  }
  .item:hover{
    background-image: linear-gradient(to bottom right, #66ffcc 0%, #ffccff 100%);
    background-position: right;
    transition: background-position 3s;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.2);
    -webkit-transition:all 0.5s ease 0s;
    transition:all 0.7s ease 0s;
  }
  .item:hover .item,
  .item:hover span.icon{
    background:#fff;
    border-radius: 10px;
    -webkit-transition:all 0.5s ease 0s;
    transition:all 0.5s ease 0s;
  }
  .item:hover h6,
  .item:hover p{
    color:#2b6777;
    -webkit-transition:all 0.5s ease 0s;
    transition:all 0.5s ease 0s;
  }
  .item .icon{
    font-size:40px;
    margin-bottom: 25px;
    color:yellow;
    width:90px;
    height:90px;
    line-height: 96px;
    border-radius: 50px;
  }
  .item .feature_box_col_one{
    background:rgba(247,198,5,0.2);
    color:#52ab98;
  }
  .item .feature_box_col_two img{
    width:85px;
    height: 30px;
  }
  .item .feature_box_col_two{
    background: rgba(255, 77, 28, 0.15);
    color:#52ab98;
    
  }
  .item .feature_box_col_three{
    background:rgba(0,147,38,0.15);
    color:#52ab98;
  }
  .item .feature_box_col_four{
    background:rgba(0,108,255,0.15);
    color:#52ab98;
    
  }
  .item .feature_box_col_five{
    background:rgba(146,39,255,0.15);
    color:#52ab98;
  }
  .item .feature_box_col_six{
    background:rgba(23,39,246,0.15);
    color:#52ab98;
  }
  .item p{
    font-size: 15px;
    font-family: "Varela Round",Arial,"Helvetica Neue",Helvetica,sans-serif;
    line-height: 26px;
    color: #2f2f2f;
  }
  .item h2{
    margin-bottom: 20px;
    font-family: "Varela Round",Arial,"Helvetica Neue",Helvetica,sans-serif;
    color:#000000;
    font-weight: 700;
  }
  .a-box {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
  .img-container {
      height: 350px;
      width: 100%;
      overflow: hidden;
      display: inline-block;
  }
  .img-container img {
      height: 400px;
      margin: -30px 0px 0px -25px;
  }
  .inner-skew {
      display: inline-block;
      border-radius: 20px;
      overflow: hidden;
      padding: 0px;
      font-size: 0px;
      margin: 50px 0px 0px 0px;
      background: #c8c2c2;
      height: 400px;
      width: 100%;
  }
  .overlay-text {
    position: absolute;
    bottom: 30px;
    right: 15px;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 0 0 20px 0;
    font-size: 12px;
    color: #660960;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-weight: bold;
  }
  .row .btn{
    outline: none;
    border: none;
    border-radius: 5rem;
    color: white;
    background: #002e5f;
    border-style: groove;
    border-color: #031b36;
    font-size: 1.5rem;
    cursor: pointer;
    height: 3.5rem;
    width: 25rem;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.3);
    font-weight: bolder;
  }
  .row .btn:hover{
    color: white;
  }
/* END OF COURSES SECTION CSS */


/* START OF CONTACT SECTION CSS */
.contact{
    text-align: center;
    align-items: center;
    background-color: #e7d8d8;
    height: fit-content;
    padding-bottom: 5%;
}
.contact .heading{
    margin-bottom: 5rem;
}
.contact-in{
	width: 80%;
	Height: auto;
	margin: auto auto 5rem auto;
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	border-radius: 10px;
	background: #ffffff;
	box-shadow: 0px 0px 10px 0px #666;
}
.contact-map{
	width: 100%;
	height: auto;
	flex: 50%;
}
.contact-map iframe{
	width: 100%;
	height: 100%;
}
.contact-form{
	width: 100%;
	height: auto;
	flex: 50%;
	text-align: left;
}
.contact-form-txt{
  margin-left: 2rem;
	width: 95%;
	height: 40px;
	color: #000;
	border: 1px solid #bcbcbc;
	border-radius: 50px;
	outline: none;
	margin-bottom: 20px;
	padding: 15px;
  font-size: small;
}
.contact-form-email{
  margin-left: 2rem;
	width: 95%;
	height: 40px;
	color: #000;
	border: 1px solid #bcbcbc;
	border-radius: 50px;
	outline: none;
	margin-bottom: 20px;
	padding: 15px;
  font-size: small;
}
.contact-form-txt::placeholder{
	color: #aaa;
  font-size: 1.5rem;
}
.contact-form-email::placeholder{
	color: #aaa;
  font-size: 1.5rem;
}
.contact-form-txtarea{
    margin-left: 2rem;
	width: 95%;
	height: 130px;
	color: #000;
	border: 1px solid #bcbcbc;
	border-radius: 10px;
	outline: none;
    margin-bottom: 20px;
	padding: 15px;
	font-family: 'Poppins', sans-serif;
}
.contact-form-txtarea::placeholder{
	color: #aaa;
    font-size: 1.5rem;
}
.contact-form-btn{
    margin-left: 2rem;
    outline: none;
    border: none;
    border-radius: 5rem;
    background: #002e5f;
    border-style: groove;
    border-color: #021c38;
    font-size: 1.8rem;
    cursor: pointer;
    height: 3.5rem;
    width: 15rem;
    color: white;
    font-weight: 500;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.3);
}
.contact-form-phone{
    margin-left: 2rem;
    width: 95%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
	  border-radius: 50px;
	  outline: none;
	  margin-bottom: 20px;
	  padding: 15px;
    font-size: small;
		}
  .contact-form-phone::placeholder{
    color: #aaa;            
    font-size: 1.5rem;
}
/* END OF CONTACT SECTION CSS */
        

/* START OF FAQ SECTION CSS*/
div + div {
    clear: both;
}
p {
    line-height: 1.4em;
    color: #000000;
    font-size: 1.5em;
    font-weight: 500;
}     
.faq-title {
    font-size: 2em;
    margin: 0.4em 0;
}
div.seperator {
    width: 7.5em;
    background-color: #e31b1b;
    height: 0.17em;
    margin-left: -1.8em;
}
.faq-list > div {
    border-bottom: 0.07em solid #ededed;
    padding: 1.5em 0em;
} 
.faq-list > div:last-child {
    border: unset;
}
.faq-header{
    text-align: center;
}
details > summary {
    list-style: none;
}
details > summary::-webkit-details-marker {
    display: none;
}
summary {
    font-size: 1.8em;
    font-weight: bold;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none;
    transition: all 0.3s ease;
    color: #e31b1b;
}
details[open] summary ~ * {
    animation: sweep .5s ease-in-out;
}    
@keyframes sweep {
    0%    {opacity: 0; margin-left: -10px}
    100%  {opacity: 1; margin-left: 55px}
}     
details[open] summary {
    color: #e31b1b;
}
details[open] p {
    border-left: 2px solid #e31b1b;
    margin-left: 55px;
    padding-left: 25px;
}
details[open] summary:after {
    content: "-";
    font-size: 3.2em;
    margin: -33px 0.35em 0 0;
    font-weight: 100;
}
.faq-body {
    width: 100%;
    height: fit-content;
    margin: 0 auto;
    border-radius: 0.2em;
    padding: 1rem;
    padding-bottom: 5%;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000000' fill-opacity='0.07' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
}
.faq-list {
    width: 55em;
    margin: 1em auto;
    padding: 2em 0;
}
summary::-webkit-details-marker {
    display: none;
}
summary:after {
    background: transparent;
    border-radius: 0.3em;
    content: "+";
    float: left;
    font-size: 1.8em;
    font-weight: bold;
    margin: -0.3em 0.65em 0 0;
    padding: 0;
    text-align: center;
    width: 25px;
}
/* END OF FAQ SECTION CSS*/


/* START OF FOOTER SECTION CSS*/
.footer {
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .social-icon,
  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }
  .social-icon__item,
  .menu__item {
    list-style: none;
  }
  .social-icon__link {
    font-size: 3rem;
    color: #fff;
    margin: 0 30px;
    display: inline-block;
  }
  .menu__link {
    font-size: 2rem;
    color: #fff;
    margin: 0 30px;
    display: inline-block;
    text-decoration: none;
    opacity: 0.9;
    font-weight: 500;
  }
  .social-icon__link:hover,
  .menu__link:hover {
    opacity: 1;
    color: #000;
    font-weight: 700;
  }
  .footer p {
    color: #fff;
    margin: 15px 0 10px 0;
    font-size: 1.5rem;
    font-weight: 300;
  }
  /* END OF FOOTER SECTION CSS*/


/* START OF MEDIA 1200 CSS */
  @media (max-width: 1200px){
    .faq{
      min-height: 70vh;
    }
  }  
/* END OF MEDIA 1200 CSS */


/* START OF MEDIA 700 CSS */
@media (max-width: 700px) {
    .counters{
      background-size: auto 130px;
    }
    .contact-in{
      flex-direction: column;
    }
    .contact-map
	  {
		  padding-bottom: 3rem;
	  }
    .contact-form-btn{
      width: 90% !important;
    }
    .header .logo img{
      width: 100%;
      height: 6rem;
      top: 0;
      left: 0;
      background-size: cover;
      padding-right: 20rem;
    }
    .header .fa-bars{
      display: block;
      color: 	rgb(0, 0, 0);
      margin-right: 1rem;
    }
    .header .fa-bars:hover{
      color: #00bfff;
    }
    .header .navbar{
      position: fixed;
      top: -120%;
      left: 0;
      height: auto;
      width: 100%;
      background-color: white;
      z-index: 1000;
      border-top: .1rem solid rgba(0,0,0,.3);
    }
    .header .navbar ul{
      height: 100%;
      width: 100%;
      flex-flow: column;
    }
    .header .navbar ul li{
      margin: 5px 0.05rem;
    }
    .header .navbar ul li a{
      color: grey;
      font-size: 2.4rem;
    }
    .header .fa-times{
      transform: rotate(90deg);
    }
    .header .nav-toggle{
      top: 8rem;
    }
    #faq .faq-list{
      width: 70%
    }
    .homeleft{
      padding-top: 20% !important;
    }
    .text{
      font-size: 20px !important;
    }
    .para{
      font-size: 45px !important;
    }
    .design2{
      font-size: 32px !important;
    }
    .para2{
      font-size: 15px !important;
    }
	  .counters .container {
		  grid-template-columns: repeat(2, 1fr);
	  }
	  .counters .container > div:nth-of-type(1),
	  .counters .container > div:nth-of-type(2) {
		  border-bottom: 1px lightskyblue solid;
		  padding-bottom: 20px;
	  }
}     
/* END OF MEDIA 700 CSS */


/* START OF MEDIA 575 CSS */
@media (max-width: 575px) {
  .testimonials .testimonial-text {
    padding: 25px;
  }
  #faq .faq-body{
    padding: 0 !important;
  }
  #faq summary {
    font-size: 1.4em;
  }
  #faq p {
    line-height: 1em;
  }
  #faq .faq-list{
    width: 100% !important;
    padding: 0;
    margin-bottom: 5em;
  }
}
/* END OF MEDIA 575 CSS */


/* START OF MEDIA 1000 CSS */
@media (max-width: 1000px){
  .img-container img {
    height: 300px;
    margin: 0px 0px 0px -50px;
  }
  html{
    font-size: 50%;
  }
  .homeleft{
    width: 100%;
  }
  .para{
    font-size: 50px;
  }
  .text{
    font-size: 25px;
  }
  .para2{
    font-size: 20px;
    width: 65%;
  }
  .about{
    min-height: 38vh;
    width: 100vw;
    margin-top: -3rem;
    margin-bottom: -2rem;
    top: -2rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    line-height: 6rem;
  }
  .about .row{
    line-height: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 4rem;
  }   
  .about .row .content{
    text-align: center;
  }    
  .about .row .content h3{
    font-size: 2rem;
    color: var(--color);
  } 
  .about .row .content p{
    font-size: 1.3rem;
    color: #333;
    padding: 1rem 0;
  } 
  .marquee span{
    padding-top: 5px;
    font-size: large;
    gap: 20px;
  }
  .contact{
    text-align: center;
    align-items: center;
  }
  .contact .heading{
    margin-bottom: 3rem;
    margin-top: -2rem;
  }
  .contact-in
	{
		width: 80%;
		height: auto;
		margin: auto auto 5rem auto;
		display: flex;
		flex-wrap: wrap;
		padding: 10px;
		border-radius: 10px;
		background: #fff;
		box-shadow: 0px 0px 10px 0px #666;
	}
	.contact-map
	{
		width: 100%;
		height: auto;
		flex: 50%;
	}
	.contact-map iframe
	{
		width: 100%;
		height: 100%;
	}
	.contact-form
	{
		width: 100%;
		height: auto;
		flex: 50%;
		text-align: left;
	}
	.contact-form-txt
	{
		width: 90%;
		height: 20px;
		color: #000;
		border: 1px solid #bcbcbc;
		border-radius: 50px;
		outline: none;
		margin-bottom: 20px;
		padding: 15px;
	}
    .contact-form-email
	{
    margin-left: 2rem;
		width: 90%;
		height: 20px;
		color: #000;
		border: 1px solid #bcbcbc;
		border-radius: 50px;
		outline: none;
		margin-bottom: 20px;
		padding: 15px;
	}
	.contact-form-txt::placeholder
	{
		color: #aaa;
    font-size: 1.5rem;
	}
    .contact-form-email::placeholder
	{
		color: #aaa;
    font-size: 1.5rem;
	}
	.contact-form-txtarea
	{
    margin-left: 2rem;
		width: 90%;
		height: 110px;
		color: #000;
		border: 1px solid #bcbcbc;
		border-radius: 10px;
		outline: none;
		margin-bottom: 20px;
		padding: 15px;
		font-family: 'Poppins', sans-serif;
	}
	.contact-form-txtarea::placeholder
	{
		color: #aaa;
    font-size: 1.5rem;
	}
	.contact-form-btn
	{
    margin-left: 2rem;
    outline: none;
    border: none;
    border-radius: 5rem;
    background: white;
    border-style: groove;
    border-color: #002e5f;
    font-size: 1.5rem;
    cursor: pointer;
    height: 3.5rem;
    width: 12rem;
    box-shadow: 0 .2rem .5rem rgba(0,0,0,.3);
	}
  .contact-form-btn:hover{
    letter-spacing: .1rem;
    opacity: .9;
    color: white;
    background: #002e5f;
  }
	.contact-form-phone
	{
    margin-left: 2rem;
		width: 90%;
		height: 20px;
		color: #000;
		border: 1px solid #bcbcbc;
		border-radius: 50px;
		outline: none;
		margin-bottom: 20px;
		padding: 15px;
	}
	.contact-form-phone::placeholder
	{
		color: #aaa;
    font-size: 1.5rem;
	}
  .faq{
    padding: 0;
    min-height: 60vh;
  }   
  .faq .row{
    padding: 0 1.5rem;
    flex-flow: column;
  }
  .faq .row .accordion-container{
    width: 100%;
  }
}
/* END OF MEDIA 1000 CSS */
